[submodule "drake"]
	path = drake
	url = https://github.com/RobotLocomotion/drake.git
[submodule "manipulation"]
	path = manipulation
	url = https://github.com/RussTedrake/manipulation.git
[submodule "psets"]
	path = psets
	url = https://github.com/mattgardner96/manipulation-private.git
